<!DOCTYPE html>
<html>
<head>
    <title>Admin OTP Verification</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-section">

    <h1>Admin OTP Verification</h1>

    <p>
        An OTP has been sent to your registered admin email.
    </p>

    <br>

    <form method="POST">

        <input
            type="text"
            name="otp"
            placeholder="Enter 6-digit OTP"
            required>

        <br><br>

        <button type="submit">
            Verify OTP
        </button>

    </form>

</div>

</body>
</html>