<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-section">

    <h1>Reset Password</h1>

    <form action="/reset_password" method="POST">

        <input
            type="password"
            name="new_password"
            placeholder="New Password"
            required>

        <br><br>

        <input
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            required>

        <br><br>

        <button type="submit">
            Change Password
        </button>

    </form>

</div>

</body>
</html>